[data-theme="cyan"] {
    --accent: oklch(71.5% 0.143 215.221);
    --primary: #222;
}

[data-theme="dark"] {
    --accent: #bb86fc;
    --primary: #ffffff;
}

[data-theme="emerald"] {
    --accent: #009866;
    --primary: #222;
}

[data-theme="amber"] {
    --accent: #FDC800;
    --primary: #222;
}

@media (prefers-color-scheme: light) {
    :root {
        --muted-bg: #fff2ee;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --muted-bg: #222;
    }
}